
<!--div class="tableFixHead">
<table class="table table-fit table-hover table-condensed">
    <thead class="tableFixedHeader">
      <tr>
        <th class="col-md-1">Key</th>
        <th class="col-md-2">Name</th>
        <th class="col-md-3">EID</th>
        <th class="col-md-1">Project Name</th>
        <th class="col-md-1">Package</th>
        <th class="col-md-1">Start Date</th>
        <th class="col-md-1">End Date</th>
        <th class="col-md-2">Status</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let eid of dataSource">
        <td class="col-md-1">{{eid.KEY}}</td>
        <td class="col-md-2">{{eid.NAME}}</td>
        <td class="col-md-3">{{eid.EID}}</td>
        <td class="col-md-1">{{eid.PROJECT_NAME}}</td>
        <td class="col-md-1">{{eid.PACKAGE}}</td>
        <td class="col-md-1">{{eid.START_DATE}}</td>
        <td class="col-md-1">{{eid.END_DATE}}</td>
        <td class="col-md-2">{{eid.STATUS}}</td>
        </tr>
    </tbody>
</table>
</div-->
<!--div id="list-content">
  <div class="row">
    <div id="order-table" class="col-md-12">
      <div class="order-table-wrap" >
        <div class="order-table-header row">
          <div class="inner-wrap">
            <div class="col-md-1 label-header-item">Key</div>
            <div class="col-md-2 label-header-item">Name</div>
            <div class="col-md-3 label-header-item">EID</div>
            <div class="col-md-1 label-header-item">Project Name</div>
            <div class="col-md-1 label-header-item">Package</div>
            <div class="col-md-1 label-header-item">Start Date</div>
            <div class="col-md-1 label-header-item">End Date</div>
            <div class="col-md-2 label-header-item">Status</div>
          </div>
        </div>
        <div class="order-table-content row">
          <div class="col-md-12" *ngFor="let eid of dataSource">
            <div class="row">
              <div class="item-inner-wrap">
                <div class="col-md-1 table-item">{{eid.KEY}}</div>
                <div class="col-md-2 table-item">{{eid.NAME}}</div>
                <div class="col-md-3 table-item">{{eid.EID}}</div>
                <div class="col-md-1 table-item">{{eid.PROJECT_NAME}}</div>
                <div class="col-md-1 table-item">{{eid.PACKAGE}}</div>
                <div class="col-md-1 table-item">{{eid.START_DATE}}</div>
                <div class="col-md-1 table-item">{{eid.END_DATE}}</div>
                <div class="col-md-2 table-item">{{eid.STATUS}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div-->
<div id="searchBarDiv">
  
</div>
<div id="resp-table">
    <div id="resp-table-header">
      <div class="table-header-cell roundedcornerleft" >Key</div>
      <div class="table-header-cell" >Name</div>
      <div class="table-header-cell" >EID</div>
      <div class="table-header-cell" >Project Name</div>
      <div class="table-header-cell" >Package</div>
      <div class="table-header-cell" >Start Date</div>
      <div class="table-header-cell" >End Date</div>
      <div class="table-header-cell roundedcornerright" >Status</div>
    </div>
  
    <div id="resp-table-body">
      <div class="resp-table-row" *ngFor="let eid of dataSource">
        <div class="table-body-cell" >{{eid.KEY}}</div>
        <div class="table-body-cell" >{{eid.NAME}}</div>
        <div class="table-body-cell" >{{eid.EID}}</div>
        <div class="table-body-cell" >{{eid.PROJECT_NAME}}</div>
        <div class="table-body-cell" >{{eid.PACKAGE}}</div>
        <div class="table-body-cell" >{{eid.START_DATE}}</div>
        <div class="table-body-cell" >{{eid.END_DATE}}</div>
        <div class="table-body-cell" >{{eid.STATUS}}</div>
      </div>
    </div>
</div>