/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/*
* {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
} */



@media screen and (min-width:1200px) and (max-width:1400px){
    .specificContainer{
        //width:1169px;
        left: 160px;
        max-width: 100%;
        overflow-x: auto;
        width: -webkit-fill-available;
        font-size: 13px;
    }

    .container{
        width:1169px;
    }
}

@media screen and (min-width:1401px){
    .specificContainer{
        //width:1480px;
        left: 160px;
        max-width: 100%;
        overflow-x: hidden;
        width: -webkit-fill-available;
    }
}


@media screen and (min-width:1401px){
    .container{
        width:100%;
    }
}

.main {
    min-height: 100vh;
    transition: all 0.3s;
    background-color: #f9f9f9;
}

#sidebar{
    transition: all 0.3s;
    width: 160px;
    background-color: #e2e2e2;
    min-width:160px;
    position: fixed;
    height: 100vh;
    z-index: 1;
    top:0px !important;
    .sidebar-header{
        background:transparent;
        background-color: #ffffff;
        width: 100%;
        float:  left;
        padding: 18px 0px;
        text-align: center;
        li{
            margin-top: 20px;
            list-style-type: none;
            color:#fff;
            a{
                font-size: 22px;
                font-weight: bold;
            }
        }
    }
    ul.components{
        width:100%;
        float:left;
        padding:0px;
        margin-bottom: 0px;
        border: none !important;
        li{
            color:#fff;
            a{
                //padding:9px 0px;
                font-size: 18px;
                font-weight: bold;
                background-color: rgba(255, 255, 255, 0.02);
                color:rgb(19, 19, 19) !important;
                transition: all 0.3s;
                span.menu-icon-wrap {
                    width: 40px;
                    text-align: center;
                }
                &:hover, &.active-nav{
                    transition: all 0.3s;
                    background-color: rgba(87, 87, 87, 0.1);
                }
            }
            a:before{
                content:"" !important;
            }
           
        }
        li.active{
            a{
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
    #settings-nav {
        position: absolute;
        bottom: 0;
    }
    &.active{
        max-width: 180px;
    }
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar .sidebar-header{
    background:transparent;
    width: 100%;
    float:  left;
    padding-top: 18px;
    text-align: center;
}

.header {
    height: 100px; 
    width: 100%; 
    position: fixed; 
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden; 
    margin-left: 160px;
    border: #f9f9f9;
    border-width: 5px;
    border-style: solid;
    z-index: 2;
}

.bold-red {
    //color:  red;
    font-weight: bold;
}
/*
.content {
    height: 100%;
    width: 90%; 
    position: fixed; 
    left: 0;
    background-color: rgb(255, 255, 255); 
    overflow-x: hidden; 
    margin-left: 160px;
    margin-top: 100px;
    border: rgb(245, 245, 245);
    border-width: 5px;
    border-style: solid;
} */

.contentDiv {
    float: left;
    margin-top: 95px;
    margin-left: 160px;
    background: transparent;
    position: relative;
    z-index: 1;
    //padding-top: 72px;
    //padding-bottom: 72px;
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    background-color: #f9f9f9;
    /*border-width: 5px;
    border-style: solid;*/
}

#resp-table {
    width: 100%;
    display: table;
    padding: 5px;
    margin-bottom: 70px;
}

#resp-table-header{
    display: table-header-group;
    background-color: rgb(223, 226, 221);
    font-weight: bold;
    font-size: 18px;
    .roundedcornerleft {
        border-collapse: separate;
        border-left: 0px;
        border-top-left-radius: 10px;
        //border-bottom-left-radius: 10px;
        
    }
    .roundedcornerright {
        border-collapse: separate;
        border-left: 0px;
        border-top-right-radius: 10px;
        //border-bottom-right-radius: 10px;
        
    }
}


.table-header-cell{
    display: table-cell;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 0px;
    position: sticky;
    top: 0;
    background-color: rgb(223, 226, 221);
}

#resp-table-body{
    display: table-row-group;
    box-sizing: unset !important;
}

.resp-table-row{
    display: table-row;
    background-color: rgb(255, 255, 255); 
}

.table-body-cell{
    display: table-cell;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-style: solid;
    border-bottom-color: rgb(110, 125, 175);
    border-bottom-width: 0.5px;
}


#searchBarDiv {
    padding: 5px;
    background-color: rgb(255, 255, 255); 
    margin-bottom: 30px;
    margin-top: 30px;
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
    width: -webkit-fill-available;
}

.search-container {
    //float: right;
    //padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    //background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-style: solid 10px;
    border-color:  rgb(110, 125, 175);
}

#content-general-container {
    width: 100%;
    display: table;
    padding: 5px;
    margin-bottom: 70px;
    background-color: black;
}

#genericbardiv {
    padding: 5px;
    background-color: rgb(255, 255, 255); 
    margin-bottom: 30px;
    margin-top: 30px;
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
    width: -webkit-fill-available;
}

.padding-10 {
    margin-left: 10px;
}